<% if not notice.nil? %>
<div class="row">
  <div class="col-sm-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <h1>Un 'ti cocktail ?</h1>
  </div>
</div>

<% if @cocktails.count > 0 %>
  <h2 class="text-center"> Nos cocktails</h2>
  <%= render 'liste', liste: @cocktails %>
<% end %>
<% if @smoothies.count > 0 %>
  <h2 class="text-center"> Nos smoothies</h2>
  <%= render 'liste', liste: @smoothies %>
<% end %>
<% if @virgins.count > 0 %>
  <h2 class="text-center"> Nos "sans alcool"</h2>
  <%= render 'liste', liste: @virgins %>
<% end %>

<% if @is_root %>
  <% if @others.count > 0 %>
    <h2 class="text-center"> Autres</h2>
    <%= render 'liste', liste: @others %>
  <% end %>
<% end %>

<br /><br />
<div class="row">
  <div class="col-sm-12">
    <% if @is_root %>
    <%= link_to 'New Cocktail', new_cocktail_path %>
    <% end %>
  </div>
</div>
<br /><br />