<p id="notice"><%= notice %></p>

<h1>Un 'ti cocktail ?</h1>
<br /><br />

    <% @cocktails.each do |cocktail| %>

          <img src="<%= cocktail.picture %>" alt="<%= cocktail.name %>" /><br />
          <div class="cocktail_name"><%= cocktail.name %></div><br />
          <div class="cocktail_description"><%= cocktail.description %></div><br />
          <%= render 'orders/form', order: @order, cocktail_id: cocktail.id %>

        <hr />

      <% if @is_root %>
        <%= link_to 'Show', cocktail %>
        <%= link_to 'Edit', edit_cocktail_path(cocktail) %>
        <%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>

<!--<%= link_to 'New Cocktail', new_cocktail_path %>-->
