<p id="notice"><%= notice %></p>

<h1>La file d'attente !</h1>

<% @orders.each do |order| %>
  <%= order.requester %> a commandé un <%= order.cocktail.name %> il y a <%= time_ago_in_words(order.created_at) %>. 
  <% if @is_root %>
    <%= link_to 'Show', order %>
    <%= link_to 'Edit', edit_order_path(order) %>
    <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <hr />
<% end %>

<br>

<% if @is_root %>
  <%= link_to 'New Order', new_order_path %>
<% end %>