<html lang="fr">
<head>
    <title>Cocktails</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>

<body>

    <%= render '/partials/header' %>

    <% flash.each do |key, value| %>
        <br /> <br />
        <div class="container-fluid">
            <div class="alert alert-<%= key %>"><%= value.html_safe %></div>
        </div>
    <% end %>

    <div class="container-fluid"><%= yield %></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script src="//cdn.rawgit.com/namuol/cheet.js/master/cheet.min.js"
        type="text/javascript"></script>
<script>
cheet('g o v i c', function () {
  alert('Et si on jouait un peu ? Quel est le surnom de Scalou ?');
});
cheet('k r i m z i m', function () {
  alert('Ok, ok. Jusqu\'ici, tout va bien. Mais connaissez-vous aussi le surnom de notre lapin ?');
});
cheet('g o g o', function () {
  alert('Mouais. Pas mal. Et on habite ou ?');
});
cheet('m e y z i e u', function () {
  alert('Bon, c\'est pas mal... On va pouvoir commencer le jeu maintenant... Ah ah ah. \n\nCherchez sur internet, il faut maintenant rentrer le code Konami. Vu que vous avez peut etre pas de fleche, utilisez la premiere lettre (haut donne h, bas donne b, etc...)');
});
cheet('h h b b g d g d b a', function () {
  alert('Voilà ! C\'est bien. Vous avez trouve beaucoup de bonnes reponses. Alors je vous dis tout : dans cette page, il existe un lien cache, qui permet de faire le cocktail de son choix. A vous de le trouver ! \n\nSi vous voulez des indices, trouvez la reponse a l\'enigme suivante : "Où trouve-t-on samedi avant vendredi ?" (attention, ne mettre qu\'un mot)' );
});
cheet('d i c t i o n n a i r e', function () {
  alert('Bien vu ! Le lien se trouve sur une autre page :) Si vous voulez un autre indice, trouvez la reponse a cette enigme : J\'ai quatre fois l\'âge que vous aviez, quand j\'avais l\'âge que vous avez. J\'ai quarante ans, quel âge avez-vous ? (mettez une reponse en lettre, pour eviter la triche ;) si il y a plusieurs mots, ne mettez aucun espace)');
});
cheet('v i n g t c i n q', function () {
  alert('Bravo. Vous etes tres bon en calcul aussi ! Vous avez merite d\'avoir acces au lien magique. Allez au bas de la page ou l\'on voit la liste d\'attente. A gauche. Un lien est cache. Il est masque, mais je suis sur que pour quelqu\'un comme toi, ce n\'est qu\'un tout petit probleme de plus... ');
});
</script>
</body>
</html>